/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-display: swap;
  src: local("Albert Sans"), url('/fonts/AlbertSans.ttf') format("truetype");
}

@font-face {
  font-family: 'Albert Sans';
  font-style: italic;
  font-display: swap;
  src: local("Albert Sans"), url('/fonts/AlbertSans-Italic.ttf') format("truetype");
}

:root {
  --font-sans: 'Albert Sans';
  /* --color-text: 'hsl(42, 43%, 9%)';
  --color-background: 'hsl(44, 61%, 93%)';
  --color-primary: 'hsl(45, 99%, 55%)';
  --color-secondary: 'hsl(42, 64%, 70%)';
  --color-accent: 'hsl(278, 43%, 40%)'; */
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @apply text-text bg-background font-sans;
}
