/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-display: swap;
  src: local("Albert Sans"), url('/fonts/AlbertSans.ttf') format("truetype");
}

@font-face {
  font-family: 'Albert Sans';
  font-style: italic;
  font-display: swap;
  src: local("Albert Sans"), url('/fonts/AlbertSans-Italic.ttf') format("truetype");
}

:root {
  --font-sans: 'Albert Sans';
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @apply text-text bg-background font-sans;
}
